<div class="row fg-white-200 bg-gray-900 border-b-4 border-indigo-600">
  <div class="col-2">
    <div class="justify-content-center mt-2"><div class="text-center text-2xl">SEE WebMail Client</div></div>
  </div>
  <div class="col">
    <div *ngIf="currentUser" class="row justify-content-end">
      <div class="application-menu" *ngIf="currentUser">
        <nav class="navbar navbar-expand-lg transparent navbar-inverse d-flex justify-content-end">
          <div class="container-fluid">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><div class="p-2 pe-5 me-5 border-end border-gray-200"><strong>{{ currentUser.userEmail }}</strong></div></li>
              <li class="nav-item"><a class="nav-link" href="/administration"><i class="fas fa-tools"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-power-off"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>

    </div>
  </div>
</div>


