<div class="container-fluid">
  <div class="row">
    <div class="col-2 fg-white-200 bg-gray-900 min-vh-100">
      <div class="justify-content-center mt-2"><div class="text-center text-2xl">SEE WebMail Client</div></div>
    </div>
    <div class="col">
      <div class="row px-0 py-0 bg-white border-b-4 border-indigo-600">
        <div class="col">
          <header class="">
            <div class="row">
              <div class="col">
                <div class="container d-flex h-100">
                  <div *ngIf="currentUser"  class="row justify-content-center align-self-center">
                    <strong>{{ currentUser.userEmail}}</strong>
                  </div>
                </div>
              </div>
              <div class="col-2 justify-content-end"><app-application-menu></app-application-menu></div>
            </div>
          </header>
        </div>
      </div>
      <div class="row px-0 py-0 bg-gray-200">
        <div class="col">
          <main class="min-vh-100">CONTENT</main>
        </div>
      </div>
    </div>
  </div>
</div>
