<div class="container-fluid">
  <app-application-menu></app-application-menu>
  <div class="row">
    <div class="col-4">
      <app-mailbox-folders [folders]="folderList" (onFolderChange)="onFolderChange($event)"></app-mailbox-folders>
      <app-mailbox-list [items]="mailItemList" (onMailSelected)="onMailSelected($event)"></app-mailbox-list>
    </div>
    <div class="col">
      <app-mailbox-toolbar></app-mailbox-toolbar>
      <app-mailbox-body [mailBody]="currentMailBody"></app-mailbox-body>
    </div>
  </div>
</div>
